<template>
  <div id="result-item" :class="{correct: result.isCorrect, wrong: (!result.isCorrect)}">
      <h6 class="question" v-html="result.question"/>
      <div class="selected-answer">
        <p class="muted-text">Your answer:</p>
        <p v-html="result.selectedAnswer" v-bind:style="[result.isCorrect ? 
          {'color': 'var(--success)'} : {'color': 'var(--danger)'}]"/> 
      </div>
      <div class="correct-answer">
        <p class="muted-text">Correct answer:</p>
        <p v-html="result.correctAnswer"/>
      </div>
  </div>
</template>

<script>
export default {
  name: 'ResultItem',
  props: {
    result: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>