<template>
    <div id="result-screen">
        <header>
            <h1 class="logo">TRIVIO</h1>
            <h3 class="score">Score: {{score}}</h3>
            <ReturnButton>
                TRY AGAIN
            </ReturnButton>
        </header>
        <div class="container">
            <ResultItem v-for="result in results"
                    :key="result.question"
                    :result="result"/>
        </div>
    </div>
</template>

<script>
import ResultItem from './ResultItem';
import ReturnButton from './ReturnButton';
import { getResults } from '../storage/results-data';
export default {
    name: "ResultScreen",
    components: {ReturnButton, ResultItem},
    created() {
        this.setData();
    },
    data() {
        return {
            score: 0,
            results: []
        }
    },
    methods: {
        getResults,
        setData() {
            let {score, data} = getResults();
            this.score = score;
            this.results = data;
        
        }
    }

}
</script>

<style scoped>
    ul {
        list-style-type: none;
        padding: 0;
    }

</style>