<template>
  <div id="return-button">
      <button v-on:click="quit" :class="btnStyle">
          <slot />
      </button>
  </div>
</template>

<script>
export default {
    name: "ReturnButton",
    props: {
        btnStyle: {
            type: String,
            required: false,
            default: "btn btn-primary"
        }
    },
    methods: {
        quit() {
            this.$router.replace('/');
        }
    }
}
</script>