<template>
    <div id="start-screen" v-on:click="startGame">
        <h1 class="logo">TRIVIO</h1>
        <p>Click anywhere to start</p>
    </div>
</template>

<script>
export default {
    name: "StartScreen",
    methods: {
        startGame: function() {
            this.$router.replace('/game');
        }
    }
}
</script>