<template>
    <div id="trivia-screen">
        <header>  
            <div class="top d-flex justify-content-between align-items-center">
                <h5 class="score">Score: {{ score }}</h5>
                <ReturnButton btnStyle="iconbtn">
                    <img src="../assets/close.svg" alt="close"/>
                </ReturnButton>
            </div>
            <h1 class="logo">TRIVIO</h1>
        </header>
        
        <div class="container">
            <div v-if="loading" class="spinner">
                <SelfBuildingSquareSpinner
                    :animation-duration="6000"
                    :size="40"
                    color="#df5a9b"/>
            </div>
            <div v-else class="questions">
                <p class="question-num">Question {{currentQuestion+1}}<span> / {{totalQuestions}}</span></p>
                <TriviaQuestion 
                                :question="questions[currentQuestion]"
                                @answer-clicked="handleAnswerClicked"/>
            </div>
        </div>
    </div>
</template>

<script>
import TriviaQuestion from './TriviaQuestion';
import ReturnButton from './ReturnButton';
import { getQuestions } from '../api/questions.api';
import { setResults } from '../storage/results-data';
import { SelfBuildingSquareSpinner  } from 'epic-spinners'

export default {
    name: 'TriviaScreen',
    components: {TriviaQuestion, ReturnButton, SelfBuildingSquareSpinner},
    async created() {
        try {
            this.questions = await getQuestions();
            this.totalQuestions = this.questions.length;
        } catch (e) {
            console.error(e); 
        } finally {
            this.loading = false;
        }
    },
    data() {
        return {
            loading: true,
            currentQuestion: 0,
            questions: [], 
            score: 0,
            totalQuestions: 0,
            results: {
                score: 0,
                data: []
            },
        }
    },
    methods: {
        handleAnswerClicked(answerDetails){
            this.checkAnswer(answerDetails);
            this.results.data.push(answerDetails);
            this.currentQuestion++;

            const isComplete = this.currentQuestion === this.totalQuestions ? true : false;
            
            if (isComplete) {
                this.results.score = this.score;
                setResults(this.results);
                this.$router.replace('/results');
                console.log(this.results);
            }
        },
        checkAnswer(answerDetails) {
            if (answerDetails.isCorrect) this.score+=10;
        }
        
    }
}
</script>