<template>
    <div id="trivia-question">
        <h5 v-html="question.question"></h5>
        <div class="container">
            <button class="btn btn-outline-light" 
                    v-for="answer in answers" 
                    :key="answer" v-html="answer" 
                    @click="onClickAnswered(answer)"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TriviaQuestion',
    props: {
        question: {
            type: Object,
            required: true,
        }
    },
    created() {
        this.displayNextQuestion(false);
    },
    watch: {
        question: function(nextQuestion) {
            this.displayNextQuestion(nextQuestion);
        }
    },
    data() {
        return {
            answers: []
        }
    },
    methods: {
        getAnswers(){
            if (this.question.type === 'boolean'){
                if (this.question.correct_answer === 'True') {
                    this.answers = [this.question.correct_answer, ...this.question.incorrect_answers];
                } else {
                    this.answers = [...this.question.incorrect_answers, this.question.correct_answer];
                }
            } else {
            this.answers = [this.question.correct_answer, ...this.question.incorrect_answers];
            this.shuffleAnswers();
            }
        },
        displayNextQuestion(nextQuestion){
            if (nextQuestion){
                this.question = nextQuestion;
                console.log(this.question);
            }
            this.getAnswers();
        },
        onClickAnswered(answer){
            let {question, correct_answer} = this.question;
            const isCorrect = answer === correct_answer ? true : false;
            const answerDetails = {
                isCorrect,
                question,
                correctAnswer: correct_answer,
                selectedAnswer: answer,
            }
            this.$emit('answer-clicked', answerDetails);
        },
        shuffleAnswers(){
            // Fisher-Yates shuffle
            let currentIndex = this.answers.length, tempValue, randomIndex;

            while (currentIndex !== 0){
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                tempValue = this.answers[currentIndex];
                this.answers[currentIndex] = this.answers[randomIndex];
                this.answers[randomIndex] = tempValue;
            }
        }
    }
}
</script>