@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$body-bg: #252d4c;
$body-color: #FFF;
$color-text-muted: #8b94bc;
$color-primary-accent: #df5a9b;
$theme-colors: (
    "primary": #df5a9b,
    "secondary": grey
);

body {
    background-color: $body-bg;
    color: $body-color;
}

.logo {
    font-family: 'Roboto';
    font-size: 3.5em;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 34px 0;
}

.muted-text {
    color: $color-text-muted!important;
    font-size: 12px!important;
}

.top {
    padding: 3rem;
}

#app {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    
  }

#start-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;

    p {
        font-size: 16px;
    }
}

#trivia-screen {
    .score {
        font-size: 22px;
        margin: 0;
    }

    .question-num {
        font-size: 16px;
        color: $color-text-muted;
        span {
            font-size: 12px;
            font-weight: 300;
        }
    }

    #trivia-question {
        .container {
            max-width: 640px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .btn-outline-light {
                margin:5px;
                border-color: $color-text-muted;
                font-size: 14px;
                &:hover {
                    background-color: transparent;
                    border-color: $color-primary-accent;
                    color: white;
                }
            } 
            
    }
    }
}

#result-screen {

    padding-top: 48px;
    header > * {
        margin: 2rem 0;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .score {
        font-size: 18px;
    }

    #result-item {
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
        margin: 1rem;
        
        .question {
            margin: 0.5rem 0;
            font-weight: 600;
        }
    
        .selected-answer {
            margin: 0.5rem 0;
        }
    
        p {
            font-size: 14px;
            margin-bottom: 2px;
        }
    }
    
    
}

.wrong {
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--danger);
}

.correct {
    border: 1px solid;
    border-radius: 0.25rem;   
    border-color: var(--success);
}


.iconbtn {
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease;
    }
    &:focus {
      outline: none;
    }
    .img {
        height: 18px;
        width: 18px;
    }
  }

@import "node_modules/bootstrap/scss/bootstrap";

.self-building-square-spinner, .self-building-square-spinner * {
    box-sizing: border-box;
  }

  .spinner {
      display: flex;
      justify-content: center;
  }

  .self-building-square-spinner {
    height: 40px;
    width: 40px;
    top: calc( -10px * 2 / 3);
  }

  .self-building-square-spinner .square {
    height: 10px;
    width: 10px;
    top: calc( -10px * 2 / 3);
    margin-right: calc(10px / 3);
    margin-top: calc(10px / 3);
    background: $color-primary-accent;
    float: left;
    position:relative;
    opacity: 0;
    animation: self-building-square-spinner 6s infinite;
  }

  .self-building-square-spinner .square:nth-child(1) {
    animation-delay: calc(300ms * 6);
  }

  .self-building-square-spinner .square:nth-child(2) {
    animation-delay: calc(300ms * 7);
  }

  .self-building-square-spinner .square:nth-child(3) {
    animation-delay: calc(300ms * 8);
  }

  .self-building-square-spinner .square:nth-child(4) {
    animation-delay: calc(300ms * 3);
  }

  .self-building-square-spinner .square:nth-child(5) {
    animation-delay: calc(300ms * 4);
  }

  .self-building-square-spinner .square:nth-child(6) {
    animation-delay: calc(300ms * 5);
  }

  .self-building-square-spinner .square:nth-child(7) {
    animation-delay: calc(300ms * 0);
  }

  .self-building-square-spinner .square:nth-child(8) {
    animation-delay: calc(300ms * 1);
  }

  .self-building-square-spinner .square:nth-child(9) {
    animation-delay: calc(300ms * 2);
  }

  .self-building-square-spinner .clear{
    clear: both;
  }

  @keyframes self-building-square-spinner {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      top: 0;
    }
    50.9% {
      opacity: 1;
      top: 0;
    }
    55.9% {
      opacity: 0;
      top: inherit;
    }
  }

